xsd/visual_representation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csri.gr/visual_representation" version="1.0">

  <xs:import schemaLocation="schema15.xsd"/>

  <xs:complexType name="visual_representation">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="media_type" type="mediaType"/>
      <xs:element form="qualified" minOccurs="0" name="visual_representation" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="uri" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
</xs:schema>
